<div class='container'>
  <h1 class='pull-left headline'><br>New Admin</h1>
</div>

<div class='container content'>
  <div class="col-xs-12">
    <h1>We are not currently accepting new administrators</h1>
  </div>
</div>