.container
  %h1 Listing Applicants

.container.content
  %table
    %thead
      %tr
        %th Email
        %th Name
        %th Bio
        %th CV
        %th

    %tbody
      - @users.each do |user|
        %tr
          %td=user.email
          %td=user.name
          %td=user.bio
          - @cvs.each do |cv|
            - if cv.name == user.name
              %td=link_to('Download CV', cv.cv.remote_url)
            - else
              %td No CV Submitted
          %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }
