<div class="headline"><h2>Contact Us</h2></div> 
<%= link_to 'Contact Form', contact_path %>
<br><br>
<address class="md-margin-bottom-40">
	BRD 22 OY Services ltd,<br>T/A "Maid In Sheffield"<br>
    25 Toftwood Road <br>
    Sheffield <br>
    South Yorkshire <br>
    S10 1SJ <br>
    <br>
    Phone: 0114 2676 137 <br>
    <br>
    Email: <a href="mailto:maidinsheffield@maidinsheffield.com">maidinsheffield@maidinsheffield.com</a>  	
</address>
<ul class="list-unstyled list-inline team-socail">
	<li><a href="https://www.facebook.com/maidinsheffield"><i class="fa fa-facebook"></i></a></li>
	<li><a href="https://twitter.com/maidinsheff"><i class="fa fa-twitter"></i></a></li>
	<li><a href="http://www.yell.com/biz/maid-in-sheffield-sheffield-8092836/"><i class="fa fa-google-plus"></i></a></li>
</ul>