// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#frontslider .item img{
    display: block;
    width: 100%;
    height: auto;
}

#slidertext {
   position:absolute; 
   top: 100px;
   color: white; 
   font-size: 40px; 
   letter-spacing: -1px;  
   padding: 10px;
   z-index:5;
}