// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#frontslider .item img{
    display: block;
    width: 100%;
    height: auto;
}

#slidertext {
   position:absolute; 
   top: 100px;
   color: white; 
   font-size: 40px; 
   letter-spacing: -1px;  
   padding: 10px;
   z-index:5;
}

	#lieslider{
		width: 100%; 
		background-image: -webkit-linear-gradient(270deg,rgba(118,195,118,1.00) 0%,rgba(92,184,92,1.00) 51.30%,rgba(118,195,118,1.00) 97.93%); 
		background-image: -moz-linear-gradient(270deg,rgba(118,195,118,1.00) 0%,rgba(92,184,92,1.00) 51.30%,rgba(118,195,118,1.00) 97.93%); 
		background-image: -o-linear-gradient(270deg,rgba(118,195,118,1.00) 0%,rgba(92,184,92,1.00) 51.30%,rgba(118,195,118,1.00) 97.93%); 
		background-image: linear-gradient(180deg,rgba(118,195,118,1.00) 0%,rgba(92,184,92,1.00) 51.30%,rgba(118,195,118,1.00) 97.93%);
		text-align: center;
	}
	
	#featured-in{
		width: 100%;
		background-image: -webkit-linear-gradient(270deg,rgba(204,204,204,1.00) 0%,rgba(192,192,192,1.00) 48.19%,rgba(204,204,204,1.00) 100%); 
		background-image: -moz-linear-gradient(270deg,rgba(204,204,204,1.00) 0%,rgba(192,192,192,1.00) 48.19%,rgba(204,204,204,1.00) 100%); 
		background-image: -o-linear-gradient(270deg,rgba(204,204,204,1.00) 0%,rgba(192,192,192,1.00) 48.19%,rgba(204,204,204,1.00) 100%); 
		background-image: linear-gradient(180deg,rgba(204,204,204,1.00) 0%,rgba(192,192,192,1.00) 48.19%,rgba(204,204,204,1.00) 100%);
		bottom: 10px;
	}
	
	#call-to-action{
		width: 100%; 
		background-image: -webkit-linear-gradient(270deg,rgba(118,195,118,1.00) 0%,rgba(92,184,92,1.00) 51.30%,rgba(118,195,118,1.00) 97.93%); 
		background-image: -moz-linear-gradient(270deg,rgba(118,195,118,1.00) 0%,rgba(92,184,92,1.00) 51.30%,rgba(118,195,118,1.00) 97.93%); 
		background-image: -o-linear-gradient(270deg,rgba(118,195,118,1.00) 0%,rgba(92,184,92,1.00) 51.30%,rgba(118,195,118,1.00) 97.93%); 
		background-image: linear-gradient(180deg,rgba(118,195,118,1.00) 0%,rgba(92,184,92,1.00) 51.30%,rgba(118,195,118,1.00) 97.93%);
		bottom: 10px;
	}