<div class="container">
   <h1 class="pull-left headline"><br>Edit Home Size</h1>
</div> 

<div class="container content">	
  <div class="col-md-8 col-md-offset-2" style="height: 500px;">
    <%= render 'form' %>
  </div>
  <div class="col-md-8 col-md-offset-2" style="height: 30px;">
    <%= link_to 'Show', @home %> |
    <%= link_to 'Back To Homes Menu', homes_path %>
  </div>
</div>