<div class="container">
   <h1 class="pull-left headline"><br>New Home Size</h1>
</div> 

<div class="container content">	
  <div class="col-md-8 col-md-offset-2" style="height: 600px;">
    <%= render 'form' %>

    <%= link_to 'Back To Homes Menu', homes_path %>
  </div>
</div>