%title
  About Maid In Sheffield
.container
  %h1.pull-left.headline
    <br>About Maid In Sheffield

.container.content
  .row.margin-bottom-40
    .col-md-9.md-margin-bottom-40
      .headline
        %h1 Cleaning has never been easier!
      %h3 <strong><br>Who Are We?</strong>
      %h6 Maid In Sheffield was started in early 2014 as a small, local business that wanted to connect better with its customers than its large competitors. We are a living wage employer, and won't cut costs when it comes to hiring our staff. We wanted to change the way people thought about their home cleaning and how it should be done. We wanted to make it easier to book a clean, easier to know how much it would cost, an avoid the hassle that comes with a home visit just for a quote. We know that time is important to you, and we wanted to save you as much of it as possible.
      %h3 <strong><br>What Do We Do?</strong>
      %h6 We take your booking for a clean online after you've chosen exactly what you would like done. We confirm your booking with you and then on the day and time that you've chosen we show up and get to work. We leave a small gift at the end of each clean and a list of all the things we've done that day, checked off so you know that what you've asked for is what we've done. Finally, we check back with you a few days after your clean to make sure you're completely satisfied with our service.
      %h3 <strong><br>Where Do We Serve?</strong>
      %h6 We currently serve Sheffield and its outlying villages such as Dore and Totley. We serve all postcodes from S1 to S20 inclusive, and S35. Soon we will be expanding out to the rest of South Yorkshire and North Derbyshire.
      %h3 <strong><br>Any Other Questions?</strong>
      %h6
        For more information on what we can do for you, and how our service works, you can read our FAQ
        =link_to('here', faq_path)
        or contact us by any of the methods on the right.

    .col-md-3
      = render 'shared/contact_details'

      .headline
        %h2 Business Hours
      %ul.list-unstyled.margin-bottom-30
        %li <strong>Monday-Friday:</strong> 09:00 to 17:30
        %li <strong>Saturday and Sunday:</strong> 11:00 to 15:00


  .col-md-12
    .headline
      %h2 The Team
    .col-xs-12
      <!--<div class="col-xs-4">picture goes here</div>-->
      .col-xs-8.col-xs-offset-2
        %h3 <strong>Emma & Kelly</strong>
        %p Emma and Kelly are a local duo that have been with us since the beginning of the company. They work harder than any cleaners we've ever had and are always happy to do that bit extra to make our customers smile. Those of our customers who have met Emma and Kelly always want them back for the next clean, an we always make sure that happens.

  .headline
    %h2 The Directors
  .row.team
    .col-xs-4{:itemscope => true, :itemtype => 'http://schema.org/Person'}
      #henry-bio.thumbnail-style
        %h2{:itemprop => 'name'} Henry Rackley
        %h6{:itemprop => 'title'} Managing Director
        %p Henry is the Managing Director of Maid In Sheffield and makes sure the day to day running of the company goes smoothly. Having helped run a family manufacturing business from a young age, he recently moved to Sheffield to take on the challenge of building the best domestic maid service in the area.
        = link_to 'http://uk.linkedin.com/pub/henry-rackley/9a/6aa/a74' do
          %i.fa.fa-2x.fa-linkedin-square

    .col-xs-4{:itemscope => true, :itemtype => 'http://schema.org/Person'}
      #james-bio.thumbnail-style
        %h2{:itemprop => 'name'} James Duerden
        %h6{:itemprop => 'title'} Technical Director
        %p James maintains our website and keeps all the technical services running, ensuring our service is fast and available. Before coming to Maid In Sheffield as our Technical Director he was the technical officer and web administrator for an independent wine merchant.
        = link_to 'uk.linkedin.com/in/jamesduerden' do
          %i.fa.fa-2x.fa-linkedin-square

    .col-xs-4{:itemscope => true, :itemtype => 'http://schema.org/Person'}
      #joseph-bio.thumbnail-style
        %h2{:itemprop => 'name'} Joseph Basquill
        %h6{:itemprop => 'title'} Operations Director
        %p Joseph hires our excellent maid teams and it’s his job to make sure everything runs smoothly behind the scenes to ensure you receive the best service possible. Having previously worked in the energy and tourism industries, he now joins Maid In Sheffield as our Director of Operations.
        = link_to 'http://uk.linkedin.com/pub/joseph-basquill/54/470/672' do
          %i.fa.fa-2x.fa-linkedin-square