%title
  About Maid In Sheffield
.container
  %h1.pull-left.headline
    <br>About Maid In Sheffield

.container.content
  .row.margin-bottom-40
    .col-md-9.md-margin-bottom-40
      .headline
        %h1 Cleaning has never been easier!
      %h3 <strong>Maid In Sheffield</strong>
      %h6 Maid In Sheffield was started by a team of graduates who wanted an easy way to book a good cleaning service  without a load of hassle. We noticed that it was almost impossible to book a maid online in Sheffield and loads of places wanted to come round for a quote. We thought that was too much bother!
      %h3 <strong>What We Do</strong>
      %h6 We Clean! And we do it well! So well in fact that we guarantee all our work. We work like this: you book online and we turn up. Simple as that. No need for us to come round and quote for you, no up-selling and no contract necessary.
      %h3 <strong>Where We're Based</strong>
      %h6 We're based in Sheffield and currently serve the city of Sheffield and its suburbs, we hope to expand soon to be able to service the other parts of the wider South Yorkshire area. <br> We currently serve postcodes S1 through S20 inclusive, and S35.
      %h3 <strong>Why Does Maid In Sheffield Exist?</strong>
      %h6 Our mission is to make sure you get the best clean as easily as possible. We have a team of dedicated professional cleaners who are fully insured and background checked to make you feel absolutely assured you're receiving an elite service. The Made in Sheffield mark has indicated quality steel for centuries, and Maid In Sheffield indicates a quality domestic service. We wanted to build a company where people could book online quickly and easily and not need to go through a long process of making phone calls to organise their cleaning, and then not being sure what they're going to get.
      <br><br>

    .col-md-3
      = render 'shared/contact_details'

      .headline
        %h2 Business Hours
      %ul.list-unstyled.margin-bottom-30
        %li <strong>Monday-Friday:</strong> 09:00 to 17:30
        %li <strong>Saturday and Sunday:</strong> 11:00 to 15:00


  .col-md-12
    .headline
      %h2 The Team
    .col-xs-12
      <!--<div class="col-xs-4">picture goes here</div>-->
      .col-xs-8.col-xs-offset-2{:itemscope => true, :itemtype => 'http://schema.org/Person'}
        %h3 Emma & Kelly
        %p Emma and Kelly are Sheffield born and bred. They do an amazing job and always go the extra mile to make sure our customers are as happy as possible.  They are what make Maid In Sheffield so special, they offer the convenient domestic cleaning service that people are used to, while doing it in a new and exciting way.

  .headline
    %h2 The Directors
  .row.team
    .col-xs-4{:itemscope => true, :itemtype => 'http://schema.org/Person'}
      .thumbnail-style
        %h3 Henry Rackley <br> <small>Managing Director<br><br></small><br>
        %p Henry is the Managing Director of Maid In Sheffield and makes sure the day to day running of the company goes smoothly. Having helped run a family manufacturing business from a young age, he recently moved to Sheffield to take on the challenge of building the best domestic maid service in the area.
        = link_to 'http://uk.linkedin.com/pub/henry-rackley/9a/6aa/a74' do
          %i.fa.fa-2x.fa-linkedin-square

    .col-xs-4{:itemscope => true, :itemtype => 'http://schema.org/Person'}
      .thumbnail-style
        %h3 James Duerden<br> <small>Technical Director<br><br></small><br>
        %p James maintains our website and keeps all the technical services running, ensuring our service is fast and available. Before coming to Maid In Sheffield as our Technical Director he was the technical officer and web administrator for an independent wine merchant.
        = link_to 'uk.linkedin.com/in/jamesduerden' do
          %i.fa.fa-2x.fa-linkedin-square

    .col-xs-4{:itemscope => true, :itemtype => 'http://schema.org/Person'}
      .thumbnail-style
        %h3 Joseph Basquill<br> <small>Operations Director<br><br></small><br>
        %p Joseph hires our excellent maid teams and it’s his job to make sure everything runs smoothly behind the scenes to ensure you receive the best service possible. Having previously worked in the energy and tourism industries, he now joins Maid In Sheffield as our Director of Operations.
        = link_to 'http://uk.linkedin.com/pub/joseph-basquill/54/470/672' do
          %i.fa.fa-2x.fa-linkedin-square