<div class="container">
   <h1 class="pull-left"><br>Booking Form</h1>
</div>
<div class="pull-right"><%=image_tag("safe.jpg")%></div>
<div class="container content">
		<div class="col-xs-6 thumbnail-style">
			<div class="headline"><h4>You're Almost There!</h4></div>
			<ul class="list-unstyled margin-bottom-20">
				<li><i class="fa fa-asterisk color-grey"></i> Choose Your Date and Time – 7 Days / Week</li>
				<li><i class="fa fa-asterisk color-grey"></i> Booking Confirmations and Cleaning Reminders Via Email</li>
				<li><i class="fa fa-asterisk color-grey"></i> Feel Safe With Our 100% Service Guarantee</li>
				<li><i class="fa fa-asterisk color-grey"></i> Maids Bring All Supplies</li>
				<li><i class="fa fa-asterisk color-grey"></i> Fully Insured For Your Protection</li>
				<li><i class="fa fa-asterisk color-grey"></i> Get Discounts With Regular Cleanings</li>
			</ul>
        </div>
		<div class="col-xs-4 col-xs-offset-2 thumbnail-style">
			<div class="headline"><h4>Any Questions?</h4></div>
			<p>If there's anything you need to know, or if you think you'll need a specialised service, do call us on 0114 2676 137</p>
		</div>
    	<div class="col-xs-8 col-xs-offset-2">
        	<script src="https://maidinsheffield.launch27.com/js/jquery.min.js"></script>
        	<script src="https://maidinsheffield.launch27.com/jsbundle"></script>
            <script> var linker; function addiFrame(iframeId, url, opt_hash) { return function(tracker) { window.linker = window.linker || new window.gaplugins.Linker(tracker); document.getElementById(iframeId).src = window.linker.decorate(url, opt_hash); }; } // Dynamically add the iFrame to the page with proper linker parameters.
			 ga(addiFrame('booking-widget-iframe', 'https://maidinsheffield.launch27.com/?w')); </script> <iframe id='booking-widget-iframe' src='https://maidinsheffield.launch27.com/?w' style='border: none; width: 100%; height: 2200px; overflow: hidden' scrolling='no'></iframe>
        </div>
    </div>