<div class="container">
<h1 class="pull-left headline"><br>Services & Pricing</h1>
</div>
<div class="container content">
	<div class="row">
		<div class="col-xs-12 thumbnail-style">
			<div class="headline"><h4>Our Cleaning Services</h4></div>
			<ul class="list-unstyled margin-bottom-20">
				<li><i class="fa fa-asterisk color-green"></i> Bronze is our standard Clean; a light clean for the most important areas of your home.</li><br>
				<li><i class="fa fa-asterisk color-green"></i> Silver is our Deep Clean; a thorough clean that is easy to keep up with, this is our recommended service for first time customers.</li><br>
				<li><i class="fa fa-asterisk color-green"></i> Gold is our End of Tenancy or Move in/Out Clean; this involves spot cleaning of walls and skirting boards, dusting all of the furniture and inside cabinets, drawers and closets to make sure your home is spotless.</li>
			</ul>
		</div>
		<div class="col-xs-12 thumbnail-style">
			<div class="headline"><h4>Always Included:</h4></div>
			<ul class="list-unstyled margin-bottom-20">
				<li><i class="fa fa-asterisk color-green"></i> A trained team of two cleaners to make sure you get the best clean possible.</li>
				<li><i class="fa fa-asterisk color-green"></i> All cleaning supplies and tools, including vacuum cleaner.</li>
				<li><i class="fa fa-asterisk color-green"></i> Unparalleled customer service by email, live-chat and telephone.</li>
				<li><i class="fa fa-asterisk color-green"></i> 100% satisfaction guarantee</li>
				<li><i class="fa fa-asterisk color-green"></i> Full public liability insurance up to £2,000,000, including coverage of the excess in the unlikely event of a mishap.</li>
				<li><i class="fa fa-asterisk color-green"></i> Discounts for regular cleanings: 15% for weekly, 10% for fortnightly, and 5% for monthly service.</li>
			</ul>
		</div>
	</div>
  
  <div id="bookbuttons" class="row">
    <div class="col-xs-12 price-row">
      <div class="col-xs-3 col-sm-3">
        <center><br><h4><strong>House Size</strong></h4></center>
      </div>
      <div class="col-xs-3 col-sm-3">
        <center><a href="site/booking_form/"><button type="button" class="btn btn-bronze"><h5><strong>Bronze Service</strong></h5><h5>Book Now!</h5></button></a></center>
      </div>
      <div class="col-xs-3 col-sm-3">
        <center><a href="site/booking_form/"><button type="button" class="btn btn-silver"><h5><strong>Silver Service</strong></h5><h5>Book Now!</h5></button></a></center>
      </div>
      <div class="col-xs-3 col-sm-3">
        <center><a href="site/booking_form/"><button type="button" class="btn btn-gold"><h5><strong>Gold Service</strong></h5><h5>Book Now!</h5></button></a></center>
      </div>
    </div>
  </div>
  
  <div id="servicetype" class="row">
    <div style="border-radius: 5px;" class="col-xs-5 col-sm-3">
      <center><h4><strong>House Size</strong></h4></center>
    </div>
    <div id="smallbronze" class="col-xs-2 col-sm-3">
	    <center><h5><strong>B</strong></h5></center>
    </div>
    <div id="smallsilver" class="col-xs-2 col-sm-3">
	    <center><h5><strong>S</strong></h5></center>
    </div>
    <div id="smallgold" class="col-xs-2 col-sm-3">
	    <center><h5><strong>G</strong></h5></center>
    </div>
  </div>
  

</div>