   <div class="container">
   <h1 class="pull-left headline"><br>Privacy Policy</h1>
</div>

<div class="container-fluid">
    	<div class="col-md-8 col-md-offset-2">
<h4>1.	Introduction</h4>
<p>1.1	 We are committed to safeguarding the privacy of our website visitors; in this policy we explain how we will treat your personal information.<br>
1.2	By using our website and agreeing to this policy, you consent to our use of cookies in accordance with the terms of this policy.</p>

<h4>2.	 Credit</h4>
<p>2.1	 This document was created using a template from SEQ Legal (http://www.seqlegal.com).<p>

<h4>3.	 Collecting personal information</h4>
<p>3.1	 We may collect, store and use the following kinds of personal information: <br>
(a)	information about your computer and about your visits to and use of this website (including your IP address, geographical location, browser type and version, operating system, referral source, length of visit, page views and website navigation paths);<br>
(b)	information that you provide to us when registering with our website (including your email address);<br>
(c)	information that you provide when completing your profile on our website (including your name);<br>
(d)	information that you provide to us for the purpose of subscribing to our email notifications and/or newsletters (including your name and email address);<br>
(e)	information that you provide to us when using the services on our website, or that is generated in the course of the use of those services (including the timing, frequency and pattern of service use);<br>
(f)	information relating to any purchases you make of our services or any other transactions that you enter into through our website (including your name, address, telephone number, email address and card details);<br>
(g)	information contained in or relating to any communications that you send to us or send through our website (including [the communication content and meta data associated with the communication);<br>
(h)	any other personal information that you choose to send to us.<br>
3.2	Before you disclose to us the personal information of another person, you must obtain that person's consent to both the disclosure and the processing of that personal information in accordance with this policy.</p>

<h4>4.	Using your personal information</h4>
<p>4.1	Personal information submitted to us through our website will be used for the purposes specified in this policy or on the relevant pages of the website.<br>
4.2	We may use your personal information to:<br> 
(a)	administer our website and business;<br>
(b)	personalise our website for you;<br>
(c)	enable your use of the services available on our website;<br>
(e)	supply to you services purchased through our website;<br>
(f)	send statements, invoices and payment reminders to you, and collect payments from you;<br>
(g)	send you non-marketing commercial communications;<br>
(h)	send you email notifications that you have specifically requested;<br>
(i)	send you our email newsletter, if you have requested it (you can inform us at any time if you no longer require the newsletter);<br>
(j)	send you marketing communications relating to our business which we think may be of interest to you, by email or similar technology (you can inform us at any time if you no longer require marketing communications);<br>
(k)	provide third parties with statistical information about our users (but those third parties will not be able to identify any individual user from that information);<br>
(l)	deal with enquiries and complaints made by or about you relating to our website;<br>
(m)	keep our website secure and prevent fraud;<br>
(n)	verify compliance with the terms and conditions governing the use of our website; and<br>
4.3	If you submit personal information for publication on our website, we will publish and otherwise use that information in accordance with the licence you grant to us.<br>
4.4	We will not, without your express consent, supply your personal information to any third party for the purpose of their or any other third party's direct marketing.<br>
4.5	All our website financial transactions are handled through our payment services provider, Stripe. You can review the provider's privacy policy at <a href="https://stripe.com/gb/terms">https://stripe.com/gb/terms</a>. We will share information with our payment services provider only to the extent necessary for the purposes of processing payments you make via our website, refunding such payments and dealing with complaints and queries relating to such payments and refunds.</p>

<h4>5.	Disclosing personal information</h4>
<p>5.1	We may disclose your personal information to any of our employees, officers, insurers, professional advisers, agents, suppliers or subcontractors insofar as reasonably necessary for the purposes set out in this policy.<br>
5.2	We may disclose your personal information to any member of our group of companies (this means our subsidiaries, our ultimate holding company and all its subsidiaries) insofar as reasonably necessary for the purposes set out in this policy.<br>
5.3	We may disclose your personal information: <br>
(a)	to the extent that we are required to do so by law;<br>
(b)	in connection with any ongoing or prospective legal proceedings;<br>
(c)	in order to establish, exercise or defend our legal rights (including providing information to others for the purposes of fraud prevention and reducing credit risk);<br>
(d)	to the purchaser (or prospective purchaser) of any business or asset that we are (or are contemplating) selling; and<br>
(e)	to any person who we reasonably believe may apply to a court or other competent authority for disclosure of that personal information where, in our reasonable opinion, such court or authority would be reasonably likely to order disclosure of that personal information.<br>
5.4	Except as provided in this policy, we will not provide your personal information to third parties.<br></p>

<h4>6.	International data transfers</h4>
<p>6.1	Information that we collect may be stored and processed in and transferred between any of the countries in which we operate in order to enable us to use the information in accordance with this policy.<br>
6.2	Information that we collect may be transferred to the following countries which do not have data protection laws equivalent to those in force in the European Economic Area: the United States of America.<br>
6.3	Personal information that you publish on our website or submit for publication on our website may be available, via the internet, around the world. We cannot prevent the use or misuse of such information by others.<br>
6.4	You expressly agree to the transfers of personal information described in this Section 6.</p>

<h4>7.	Retaining personal information</h4>
<p>7.1	This Section 7 sets out our data retention policies and procedure, which are designed to help ensure that we comply with our legal obligations in relation to the retention and deletion of personal information.<br>
7.2	Personal information that we process for any purpose or purposes shall not be kept for longer than is necessary for that purpose or those purposes.<br>
7.3	Without prejudice to Section 7.2, we will usually delete personal data one year (365 days) from your last use of our services.
7.4	Notwithstanding the other provisions of this Section 7, we will retain documents (including electronic documents) containing personal data:<br> 
(a)	to the extent that we are required to do so by law;<br>
(b)	if we believe that the documents may be relevant to any ongoing or prospective legal proceedings; and<br>
(c)	in order to establish, exercise or defend our legal rights (including providing information to others for the purposes of fraud prevention and reducing credit risk).</p>

<h4>8.	Security of your personal information</h4>
<p>8.1	We will take reasonable technical and organisational precautions to prevent the loss, misuse or alteration of your personal information.<br>
8.2	We will store all the personal information you provide on our secure (password- and firewall-protected) servers.<br>
8.3	All electronic financial transactions entered into through our website will be protected by encryption technology.<br>
8.4	You acknowledge that the transmission of information over the internet is inherently insecure, and we cannot guarantee the security of data sent over the internet.<br>
8.5	You are responsible for keeping the password you use for accessing our website confidential; we will not ask you for your password (except when you log in to our website).</p>

<h4>9.	Amendments</h4>
<p>9.1	We may update this policy from time to time by publishing a new version on our website.<br>
9.2	You should check this page occasionally to ensure you are happy with any changes to this policy.<br>
9.3	We may notify you of changes to this policy by email.</p>

<h4>10.	Your rights</h4>
<p>10.1	You may instruct us to provide you with any personal information we hold about you; provision of such information will be subject to: <br>
(a)	the payment of a fee (currently fixed at GBP 10); and<br>
(b)	the supply of appropriate evidence of your identity (for this purpose, we will usually accept a photocopy of your passport certified by a solicitor or bank plus an original copy of a utility bill showing your current address).<br>
10.2	We may withhold personal information that you request to the extent permitted by law.<br>
10.3	You may instruct us at any time not to process your personal information for marketing purposes.<br>
10.4	In practice, you will usually either expressly agree in advance to our use of your personal information for marketing purposes, or we will provide you with an opportunity to opt out of the use of your personal information for marketing purposes.</p>
<h4>11.	Third party websites</h4>
<p>11.1	Our website includes hyperlinks to, and details of, third party websites.<br>
11.2	We have no control over, and are not responsible for, the privacy policies and practices of third parties.</p>

<h4>12.	Updating information</h4>
<p>12.1	Please let us know if the personal information that we hold about you needs to be corrected or updated.</p>

<h4>13.	Cookies</h4>
<p>13.1	Our website uses cookies.<br>
13.2	A cookie is a file containing an identifier (a string of letters and numbers) that is sent by a web server to a web browser and is stored by the browser. The identifier is then sent back to the server each time the browser requests a page from the server.<br>
13.3	Cookies may be either "persistent" cookies or "session" cookies: a persistent cookie will be stored by a web browser and will remain valid until its set expiry date, unless deleted by the user before the expiry date; a session cookie, on the other hand, will expire at the end of the user session, when the web browser is closed. <br>
13.4	Cookies do not typically contain any information that personally identifies a user, but personal information that we store about you may be linked to the information stored in and obtained from cookies.<br>
13.5	We use both session and persistent cookies on our website.<br>
13.6	The names of the cookies that we use on our website, and the purposes for which they are used, are set out below: <br>
(a)	we use DYND on our website to recognise a computer when a user visits the website.<br>
13.7	Most browsers allow you to refuse to accept cookies; for example: <br>
(a)	in Internet Explorer (version 10) you can block cookies using the cookie handling override settings available by clicking "Tools", "Internet Options", "Privacy" and then "Advanced";<br>
(b)	in Firefox (version 24) you can block all cookies by clicking "Tools", "Options", "Privacy", selecting "Use custom settings for history" from the drop-down menu, and unticking "Accept cookies from sites"; and<br>
(c)	in Chrome (version 29), you can block all cookies by accessing the "Customise and control" menu, and clicking "Settings", "Show advanced settings" and "Content settings", and then selecting "Block sites from setting any data" under the "Cookies" heading.<br>
13.8	Blocking all cookies will have a negative impact upon the usability of many websites.<br>
13.9	If you block cookies, you will not be able to use all the features on our website.<br>
13.10	You can delete cookies already stored on your computer; for example:<br>
(a)	in Internet Explorer (version 10), you must manually delete cookie files (you can find instructions for doing so at http://support.microsoft.com/kb/278835);<br>
(b)	in Firefox (version 24), you can delete cookies by clicking "Tools", "Options" and "Privacy", then selecting "Use custom settings for history", clicking "Show Cookies", and then clicking "Remove All Cookies"; and<br>
(c)	in Chrome (version 29), you can delete all cookies by accessing the "Customise and control" menu, and clicking "Settings", "Show advanced settings" and "Clear browsing data", and then selecting "Delete cookies and other site and plug-in data" before clicking "Clear browsing data".<br>
13.11	Deleting cookies will have a negative impact on the usability of many websites.</p><br>

<h4>14.	Data protection registration</h4>
<p>14.1	We are registered as a data controller with the UK Information Commissioner's Office.<br>
14.2	Our data protection registration number is [number].</p><br>

<h4>15.	Our details</h4>
<p>15.1	This website is owned and operated by BRD 22 OY SERVICES LTD.<br>
15.2	We are registered in England and Wales, and our registered office is at 25 Toftwood Road, Sheffield, South Yorkshire, S10 1SJ.<br>
15.3	Our principal place of business is at 25 Toftwood Road, Sheffield, South Yorkshire, S10 1SJ.
15.4	You can contact us by writing to the business address given above, by using our website contact form, by email to maidinsheffield@maidinsheffield.co.uk or by telephone on 01142 676 137.</p><br>

<h4>About Cookies</h4>
<p>In order to comply with new rules, we use a system of classifying the different types of cookies which we use on the Website, or which may be dropped by third parties through our websites. The classification was developed by the International Chamber of Commerce UK and explains more about which cookies we use, why we use them, and the functionality you will lose if you decide you don&#8217;t want to have them on your device.</p>
<h4>What are cookies?</h4>
<p>Cookies are text files containing small amounts of information which are downloaded to your personal computer, mobile or other device when you visit a website. Cookies are then sent back to the originating website on each subsequent visit, or to another website that recognises that cookie. Cookies are useful because they allow a website to recognise a user’s device.</p>
<p>Each website uses cookies in different ways, but usually they’re used to make your experience of browsing websites easier and more enjoyable. For example, a cookie can store settings that are personal to your use of an individual website, or keep a record of items that you place in a virtual shopping basket.</p>
<p>When a cookie is set, it is given an expiry date. On the expiry date it is automatically deleted.</p>
<p>Your continued use of our website means that you consent to us using cookies. If you do not wish us to use cookies then please follow the instructions in the ‘Changing your settings’ section below.</p>
<p>First party cookies – these are set by the website you are visiting and they can only be read by that site. When you visit our website the server checks whether you have JavaScript enabled on your browser software (e.g. Firefox, Internet Explorer) and sets a cookie to store a ‘Yes’ or ‘No’ answer. The cookie is set to expire when you close your browser software. JavaScript is a useful programming language which helps make websites more dynamic and interactive. A website should usually work without JavaScript, but the experience might not be as good as intended. Our website uses JavaScript in a number of ways, and it should be enabled if you want to experience the website’s full functionality.</p>
<p>Persistent cookies – these cookies remain on a user’s device for the period of time specified in the cookie. They are activated each time that the user visits the website that created that particular cookie.</p>
<p>Session cookies – these cookies allow website operators to link the actions of a user during a browser session. A browser session starts when a user opens the browser window and finishes when they close the browser window. Session cookies are created temporarily. Once you close the browser, all session cookies are deleted.</p>
<p>Analytical cookies – allows us to recognise and to count the number of visitors to our website, to see how visitors move around the website when they are using it and to record which content users view and are interested in. This helps us to determine how frequently particular pages and advertisements are visited and to determine the most popular areas of our website and/or services. This helps us to improve the service which we offer to you by helping us to make sure our users are finding the information they are looking for, by providing anonymised demographic data to third parties in order to target advertising more appropriately to you, and by tracking the success of advertising campaigns on our website. You can learn more about Google’s privacy policy on the Google Analytics website.</p>
<p>Functional cookies – these relate to the functionality of our website and allow us to improve the service we offer to you through our website, for example:</p>
<ul><li>by remembering that you have signed up to view content;</li>
<li>by allowing you to carry information across pages of our website to avoid you having to re-enter information;</li>
<li>to allow you to access stored information if you have registered with us;</li>
<li>by recognising your preferences when you return to our website.</li>
</ul><p>Flash cookies – many websites use Adobe Flash Player to deliver video and game content to their users. Adobe utilise their own cookies, which are not manageable through your browser settings but are used by the Flash Player for similar purposes, such as storing preferences or tracking users.</p>
<p>Flash Cookies work in a different way to web browser cookies (the cookie types listed above are all set via your browser); rather than having individual cookies for particular jobs, a website is restricted to storing all data in one cookie. You can control how much data can be stored in that cookie but you cannot choose what type of information is allowed to be stored. Cookies do lots of different jobs, like letting you navigate between pages efficiently, remembering your preferences, and generally improve the user experience. They can also help to ensure that adverts you see online are more relevant to you and your interests.</p>
<p>You can find more information about cookies at <a href="http://www.allaboutcookies.org">allaboutcookies.org</a> and <a href="http://www.youronlinechoices.eu">youronlinechoices.eu</a>.</p>
<h4>Cookies used on the website</h4>
<h4>Strictly necessary cookies</h4>
<p>These cookies enable services you have specifically asked for. For those types of cookies that are strictly necessary, no consent is required.</p>
<p>These cookies are essential in order to enable you to move around the Website and use its features, such as accessing secure areas of the Website. Without these cookies services you have asked for cannot be provided.</p>
<h4>Analytics cookies</h4>
<p>These cookies collect anonymous information on the pages visited. By using the Website, you agree that we can place these types of cookies on your device.</p>
<p>These cookies collect information about how visitors use the Website, for instance which pages visitors go to most often, and if they get error messages from web pages. These cookies don’t collect information that identifies a visitor. All information these cookies collect is aggregated and therefore anonymous. It is only used to improve how the Website works.</p>
<h4>Functionality cookies</h4>
<p>These cookies remember choices you make to improve your experience. By using the Website, you agree that we can place these types of cookies on your device.</p>
<p>These cookies allow the Website to remember choices you make (such as your user name, language or the region you are in) and provide enhanced, more personal features. These cookies can also be used to remember changes you have made to text size, fonts and other parts of web pages that you can customise. They may also be used to provide services you have asked for such as watching a video or commenting on a blog. The information these cookies collect may be anonymised and they cannot track your browsing activity on other websites.</p>
<h4>Changing your settings</h4>
<p>The Help menu on the menu bar of most browsers will tell you how to prevent your browser from accepting new cookies, how to have the browser notify you when you receive a new cookie and how to disable cookies altogether. You can also disable or delete similar data used by browser add-ons, such as Flash cookies, by changing the add-on&#8217;s settings or visiting the website of its manufacturer. However, because cookies allow you to take advantage of some of the website’s essential features, we recommend you leave them turned on. For example, if you block or otherwise reject cookies you will not be able to add items to your account, or use any of our products and services that require you to Sign in. If you leave cookies turned on, remember to sign off when you finish using a shared computer.</p>
<p>The website <a href="http://www.aboutcookies.org">AboutCookies.org</a> has useful information for all the common computer-based operating systems and web browsing software.</p>
<p>For tablets and smartphones you should refer to the operating guide for the device, the manufacturer’s website or your network provider.</p>
        </div>
    </div>