<div class="container">
   <h1 class="pull-left"><br>Student Service</h1>
</div>
<div class="container content">
	<div class="col-md-12">
        <center><p><h5>We know how difficult it is to keep a student house clean; it hasn't been that long since we were students ourselves. <br>No one ever wants to clean though! So we've come up with a solution we think you'll like.</h5><br><p></center>
<center><P><h2>For just £49, you get all this:</h2></P></center>
    </div>
	
	<div class="row margin-bottom-30" id="student_services">
      <div class="col-md-4">
      <h4>Communal Areas</h4>
            <ul class="list-unstyled margin-bottom-20">
              <li><i class="fa fa-check color-green"></i> Vacuuming </li>
              <li><i class="fa fa-check color-green"></i> Dusting & Cobweb Removal </li>
              <li><i class="fa fa-check color-green"></i> Blinds & Window Sills </li>
              <li><i class="fa fa-check color-green"></i> Rubbish Removal </li>
              <li><i class="fa fa-check color-green"></i> Clean Doors </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h4>Kitchens</h4>
            <ul class="list-unstyled margin-bottom-20">
              <li><i class="fa fa-check color-green"></i> Mop Floors </li>
              <li><i class="fa fa-check color-green"></i> Clean Countertops </li>
              <li><i class="fa fa-check color-green"></i> Clean Stove & Fans </li>
              <li><i class="fa fa-check color-green"></i> Scrub Sinks </li>
              <li><i class="fa fa-check color-green"></i> Polish Stainless Steel </li>
              <li><i class="fa fa-check color-green"></i> Clean Inside Microwave </li>
              <li><i class="fa fa-check color-green"></i> Wipe Cabinetry </li>
              <li><i class="fa fa-check color-green"></i> Washing Up </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h4>Bathrooms</h4>
            <ul class="list-unstyled margin-bottom-20">
              <li><i class="fa fa-check color-green"></i> Disinfect Hard Surfaces </li>
              <li><i class="fa fa-check color-green"></i> Mop Floors </li>
              <li><i class="fa fa-check color-green"></i> Clean Lavatories </li>
              <li><i class="fa fa-check color-green"></i> Scrub Sinks </li>
              <li><i class="fa fa-check color-green"></i> Polish Mirrors </li>
              <li><i class="fa fa-check color-green"></i> Scrub Baths & Showers </li>
              <li><i class="fa fa-check color-green"></i> Clean Cabinets </li>
            </ul>
        </div>
    </div>
    <div id="student_cta">
        <p><h6>For a 5 person student house, that works out at £10 each;<br> we have found our cleans generally last for two weeks until you need another tidy up.<br><br>That means that for the cost of entry to a club or two cheap pints a week per person, you get a clean house and you don't have to lift a finger.</h6></p>

        <%= link_to("Sound good? Just click here and choose 'Student Deal' on the booking form; <br> we'll take care of the rest!".html_safe, booking_form_path, :class => 'btn btn-success')%>
    </div>
</div>