%title
  Maid In Sheffield Testimonials
.container
  %h1{:class => 'pull-left'} <br>What Our Clients Say About Us

.container.content
  #computervideo.col-lg-7.col-lg-offset-1
    %iframe{:width => '640', :height => '375', :src => 'https://www.youtube.com/embed/cNRYecwRaHU', :frameborder => '0', :allowfullscreen => true}

  #mobilevideo.col-xs-12
    %iframe{:width => '100%', :src => 'https://www.youtube.com/embed/cNRYecwRaHU', :frameborder => '0', :allowfullscreen => true}

  .col-lg-4.col-xs-12
    %h4 Client Responses
    %p
      %em "Thank you for organising a brilliant clean this morning for my son's flat in Bents Green. A wonderful service and we will use you again soon."<br>- Judi J
    %p
      %em "A perfect clean and all the windows look lovely! So impressed with what you were able to do in a short time frame."<br> - Helen E, Hillsborough
    %p
      %em "I was a bit hesitant at first to go with a website I'd not used before, but the checklist made it clear what I was getting, and it all worked out great!"<br> - James P, Totley