<div class="container">
   <h1 class="pull-left"><br>What Our Clients Say About Us</h1>
</div>

<div class="container content">
	<!--This contains videos and screenshots (if any)-->
	<div id="computervideo" class="col-lg-7 col-lg-offset-1">
		<iframe width="640" height="375" src="//www.youtube.com/embed/cNRYecwRaHU" frameborder="0" allowfullscreen></iframe> 
	</div>
	
	<div id="mobilevideo" class="col-xs-12">
		<iframe width="100%" src="//www.youtube.com/embed/cNRYecwRaHU" frameborder="0" allowfullscreen></iframe> 
	</div>
	<!--This contains quotes-->
	<div class="col-lg-4 col-xs-12">
		<h4>Client Responses</h4><br>
			<p><em>"Thank you for organising a brilliant clean this morning for my son's flat in Bents Green. A wonderful service and we will use you again soon."<br>- Judi J</em><p>

	</div>
		
</div>  