<title>Maid In Sheffield Terms of Service</title>
<div class="container">
  <h1 class="pull-left"><br>Terms Of Service</h1>
</div>

<div class="container content">
  <div class="col-md-8 col-md-offset-2">
    <p>BRD 22 OY SERVICES LTD TRADING AS MAID IN SHEFFIELD<br>
      SERVICE TERMS AND CONDITIONS RESIDENTIAL CUSTOMERS (Commercial customer terms available on request)<br>
      BACKGROUND:<br>
      <br>
      These Terms and Conditions are the standard terms for the provision of services by BRD 22 OY Services Ltd Trading
      as Maid In Sheffield, a company registered in England under company number 09204902 of 25 Toftwood Road, Sheffield
      S10 1SJ<br><br>
      1. Definitions and Interpretation<br>
      1.1 In these Terms and Conditions, unless the context otherwise requires, the following expressions have the
      following meanings:<br>
      “Business Day” means any day other than a Saturday, Sunday or bank holiday;<br>
      “Calendar Day” means any day of the year;<br>
      “Contract” means the contract for the provision of Services, as explained in Clause 2;<br>
      “Deposit” means an advance payment made to Us under sub-Clause 4.5;<br>
      “Month” means a calendar month;<br>
      “Price” means the price payable for the Services;<br>
      “Services” means the services which are to be provided by Us to you as specified in your Order (and confirmed in
      Our Order Confirmation);<br>
      “Special Price” means a special offer price payable for Services which We may offer from time to time;<br>
      “Order” means your order for the Services as attached<br>
      “Order Confirmation” means Our acceptance and confirmation of your Order as described in Clause 2;<br>
      “We/Us/Our” Means BRD 22 OY Services Ltd trading as Maid In Sheffield, a company registered in England under
      company number 09204902 of 25 Toftwood Road, Sheffield S10 1SJ and includes all employees and agents of 22 OY
      Services Ltd<br>
      1.2 Each reference in these Terms and Conditions to “writing” and any similar expression includes electronic
      communications whether sent by e-mail, text message, fax or other means.<br><br>
      2. The Contract<br>
      2.1 These Terms and Conditions govern the sale and provision of Services by Us and will form the basis of the
      Contract between Us and you. Before submitting an Order, please ensure that you have read these Terms and
      Conditions carefully. If you are unsure about any part of these Terms and Conditions, please contact Us for
      clarification.<br>
      2.2 Nothing provided by us including, but not limited to, sales and marketing literature, price lists and other
      documents constitutes a contractual offer capable of acceptance. Your Order constitutes a contractual offer that
      We may, at our discretion, accept.<br>
      2.3 A legally binding contract between Us and you will be created upon our acceptance of your Order, indicated by
      Our Order Confirmation. Order Confirmations will be provided in writing.<br><br>
      3. Orders<br>
      3.1 All Orders for Services made by you will be subject to these Terms and Conditions.<br>
      3.2 You may change your Order upto 48 hours before we begin providing the Services by contacting Us. Requests to
      change Orders do not need to be made in writing.<br>
      3.3 If your Order is changed We will inform you of any change to the Price in writing.<br>
      3.4 You may cancel your Order within 48hrs of the date that the service is required. If you have already made any
      payments to Us under Clause 4 (including, but not limited to the Deposit), the payment(s) will be refunded to you
      within 7 Days. If you request that your Order be cancelled, you must confirm this in writing. If you wish to
      cancel the Services after this time period, or once We have begun providing the Services, please refer to Clause
      9.<br>
      3.5 We may cancel your Order at any time before We begin providing the Services in the following
      circumstances:<br>
      3.5.1 The required personnel and/or required materials necessary for the provision of the Services are not
      available; or<br>
      3.5.2 An event outside of Our control continues for more than 24 hours (please see Clause 8 for events outside of
      Our control).<br>
      3.6 If We cancel your Order before We begin providing the Services under sub-Clause 3.5 and you have already made
      any payments to Us under Clause 4 (including, but not limited to the Deposit), the payment(s) will be refunded to
      you within 7 Days. If We cancel your Order, the cancellation will be confirmed by Us in writing.<br><br>
      4. Price , Payment and Delivery<br>
      4.1 The Price of the Services will be that shown in Our price list in place at the time of your Order. If the
      Price shown in your Order differs from Our current Price We will inform you upon receipt of your Order.<br>
      4.2 If We quote a Special Price which is different to the Price shown in Our current price list, the Special Price
      will be valid for 48 hours or, if the Special Price is part of an advertised special offer, for the period shown
      in the advertisement. Orders placed during this period will be accepted at the Special Price even if We do not
      accept the Order until after the period has expired.<br>
      4.3 Our Prices may change at any time but these changes will not affect Orders that We have already accepted.<br>
      4.4 All Prices do not include VAT<br>
      4.6 In certain circumstances, if your Order is cancelled, your Deposit will be refunded in full or in part. The
      amount due will be calculated based upon the Price for the Services, Our price list and the amount of work (if
      any) already undertaken by Us. Please refer to sub-Clause 3.4 if you cancel your Order, to sub-Clauses 3.5 and 3.6
      if We cancel your Order, or to Clause 9 if the Services are cancelled after they have begun.<br>
      4.7 We accept the following methods of payment:<br>
      4.7.1 Credit/Debit cards <br>
      4.8 Credit and/or debit cards will be charged immediately on booking. <br>
      4.9 Delivery<br>
      4.9.1 BRD 22 OY Services Ltd will notify you by way of email following your booking. The message will contain
      details of the service delivery time and date and a link which will enable you to cancel.<br>
      4.9.2 If BRD 22 OY Services Ltd receives no communication from you, within 7 days of delivery, regarding any
      problems with the service, you are deemed to have received the services in full and with no problems.<br><br>
      5. Providing the Services<br>
      5.1 We will begin providing the Services on the date and time specified in your Order (and confirmed in Our Order
      Confirmation).<br>
      5.2 We will make every reasonable effort to complete the Services on time (and in accordance with your Order). We
      cannot, however, be held responsible for any delays if an event outside of Our control occurs. Please see Clause 8
      for events outside of Our control.<br>
      5.3 If We require any information from you in order to provide the Services, We will inform you of this as soon as
      is reasonably possible. Depending upon the exact nature of the Services you require from Us, We may require
      information such as manufacturers cleaning specifications, warranties etc.<br>
      5.4 If the information you provide under sub-Clause 5.4 is delayed, incomplete or otherwise incorrect, We will not
      be responsible for any delay caused as a result. If additional work is required from Us to correct or compensate
      for a mistake made as a result of incomplete or otherwise incorrect information that you have provided We may
      charge you a reasonable additional sum for that work.<br>
      5.5 In certain circumstances, for example where there is a delay in you sending Us information required under
      sub-Clause 5.4, We may suspend the Services (and will inform you of that suspension in writing).<br>
      5.6 In certain circumstances, for example where We encounter a technical problem, We may need to suspend the
      Services in order to resolve the issue. Unless the issue is an emergency and requires immediate attention We will
      inform you in advance in writing before suspending the Services.<br><br>
      6. Problems with the Services<br>
      6.1 We always use reasonable efforts to ensure that Our provision of the Services is trouble-free. If, however,
      there is a problem with the Services we request that you inform Us as soon as is reasonably possible (you do not
      need to contact Us in writing).<br>
      6.2 We will use reasonable efforts to remedy problems with the Services as quickly as is reasonably possible and
      practical. In emergency situations, such as those where vulnerable people living in your property may be affected,
      We will use reasonable efforts to remedy problems within 24 hours.<br>
      6.3 We will not charge you for remedying problems under this Clause 6 where the problems have been caused by Us,
      any of our agents or employees or sub-contractors or where nobody is at fault. If We determine that a problem has
      been caused by incorrect or incomplete information provided by you, sub-Clause 5.5 will apply and We may charge
      you for remedial work.<br>
      6.4 As a consumer, you have certain legal rights with respect to the purchase of services. We are, for example,
      required to provide the Services with reasonable care and skill. You also have remedies if We use materials that
      are faulty or incorrectly described. More information on your rights as a consumer can be obtained from your local
      Citizens Advice Bureau or from the Office of Fair Trading.<br><br>
      7. Our Liability<br>
      7.1 We will be responsible for any foreseeable loss or damage that you may suffer as a result of Our breach of
      these Terms and Conditions or as a result of Our negligence. Loss or damage is foreseeable if it is an obvious
      consequence of Our breach or negligence or if it is contemplated by you and Us when the Contract is created. We
      will not be responsible for any loss or damage that is not foreseeable.<br>
      7.2 We provide Services for domestic and private use (or purposes). We make no warranty or representation that the
      Services are fit for commercial, business or industrial purposes of any kind. By making your Order, you agree that
      you will not use the Services for such purposes. We will not be liable to you for any loss of profit, loss of
      business, interruption to business or for any loss of business opportunity.<br>
      7.3 We are not responsible for any pre-existing faults or damage in or to your property that We may discover while
      providing the Services.<br>
      7.4 The Company has a £5,000,000 public liability policy. The Policy covers each household assistant when they are
      in your property and covers liability towards any bodily injury to Household Assistants when they are in your
      property and any accidental damage to your property. <br>
      7.5 Nothing in these Terms and Conditions seeks to exclude or limit Our liability for death or personal injury
      caused by Our negligence (including that of Our employees, agents or sub-contractors); or for fraud or fraudulent
      misrepresentation.<br>
      7.6 Furthermore, nothing in these Terms and Conditions seeks to exclude or limit Our liability for the following
      with respect to your rights as a consumer:<br>
      7.7.1 Breach of your right to title and quiet possession as implied by section 2 of the Supply of Goods and
      Services Act 1982;<br>
      7.8.2 Breach of terms relating to description, satisfactory quality, fitness for purpose and samples as implied by
      sections 3, 4 and 5 of the Supply of Goods and Services Act 1982; and<br>
      7.9.3 Our liability relating to defective products as set out in the Consumer Protection Act 1987.<br><br>
      8. Events Outside of Our Control (Force Majeure)<br>
      8.1 We will not be liable for any failure or delay in performing Our obligations where that failure or delay
      results from any cause that is beyond Our reasonable control. Such causes include, but are not limited to: power
      failure, internet service provider failure, industrial action, civil unrest, fire, explosion, flood, storms,
      earthquakes, subsidence, acts of terrorism, acts of war, governmental action, epidemic or other natural disaster,
      or any other event that is beyond Our control.<br>
      8.2 If any event described under this Clause 8 occurs that is likely to adversely affect Our performance of any of
      Our obligations under these
      Terms and Conditions:<br>
      8.2.1 We will inform you as soon as is reasonably possible;<br>
      8.2.2 Our obligations under these Terms and Conditions will be suspended and any time limits that We are bound by
      will be extended accordingly;<br>
      8.2.3 We will inform you when the event outside of Our control is over and provide details of any new dates, times
      or availability of Services as necessary;<br>
      8.2.4 If the event outside of Our control continues for more than 24 hours We will cancel the Contract and inform
      you of the cancellation. Any refunds due to you as a result of that cancellation will be paid to you as soon as is
      reasonably possible;<br>
      8.2.5 If an event outside of Our control occurs and you wish to cancel the Contract, you may do so in accordance
      with your right to Cancel under sub-Clause 9.3.3.<br><br>
      9. Cancellation<br>
      9.1 If you wish to cancel your Order for the Services before the Services begin, you may do so under sub-Clause
      3.4.<br>
      9.2 Once We have begun providing the Services, you are free to cancel the Services and the Contract at any time by
      giving Us 7 days written notice. If you have made any payment to Us for any Services We have not yet provided,
      these sums will be refunded to you within 7 days. If We have provided Services that you have not yet paid for, the
      sums due will be deducted from any refund due to you or, if no refund is due, We will invoice you for those sums
      and you will be required to make payment in accordance with Clause 4.<br>
      9.3 If any of the following occur, you may cancel the Services and the Contract immediately by giving Us written
      notice. If you have made any payment to Us for any Services We have not yet provided, these sums will be refunded
      to you within 7 days. If We have provided Services that you have not yet paid for, the sums due will be deducted
      from any refund due to you or, if no refund is due, We will invoice you for those sums and you will be required to
      make payment in accordance with Clause 4. If you cancel because of Our breach under sub-Clause 9.3.1, you will not
      be required to make any payments to Us. You will not be required to give 7 Days notice in these circumstances:<br>
      9.3.1 We have breached the Contract in any material way and have failed to remedy that breach within 7 days of you
      asking Us to do so in writing; or<br>
      9.3.2 We enter into liquidation or have an administrator or receiver appointed over Our assets; or<br>
      9.3.3 We are unable to provide the Services due to an event outside of Our control (as under sub-Clause 8.2.5); or<br>
      9.3.4 We change these Terms and Conditions to your material disadvantage.<br>
      9.4 We may cancel your Order for the Services before the Services begin under sub-Clause 3.5.<br>
      9.5 Once We have begun providing the Services, We may cancel the Services and the Contract at any time by giving
      you 7 days written notice.<br>
      If you have made any payment to Us for any Services We have not yet provided, these sums will be refunded to you
      within 7 days. If We have provided Services that you have not yet paid for, the sums due will be deducted from any
      refund due to you or, if no refund is due, We will invoice you for those sums and you will be required to make
      payment in accordance with Clause 4.<br>
      9.6 If any of the following occur, We may cancel the Services and the Contract immediately by giving you written
      notice. If you have made any payment to Us for any Services We have not yet provided, these sums will be refunded
      to you within 7 days. If We have provided Services that you have not yet paid for, the sums due will be deducted
      from any refund due to you or, if no refund is due, We will invoice you for those sums and you will be required to
      make payment in accordance with Clause 4. We will not be required to give 7 days notice in these
      circumstances:<br>
      9.6.1 You fail to make a payment on time as required under Clause 4 (this does not affect our right to charge
      interest on overdue sums under sub-Clause 4.10); or<br>
      9.6.2 You have breached the Contract in any material way and have failed to remedy that breach within 7 days of Us
      asking you to do so in writing; or<br>
      9.6.3 We are unable to provide the Services due to an event outside of Our control (for a period longer than that
      in sub-Clause 8.2.4).<br>
      9.7 For the purposes of this Clause 9 (and in particular, sub-Clauses 9.3.1 and 9.6.2) a breach of the Contract
      will be considered ‘material’ if it is not minimal or trivial in its consequences to the terminating party (i.e.
      you under sub-Clause 9.3.1 and Us under sub-Clause 9.6.2). In deciding whether or not a breach is material no
      regard will be had to whether it was caused by any accident, mishap, mistake or misunderstanding.<br><br>
      10. Communication and Contact Details<br>
      10.1 If you wish to contact Us with questions or complaints, you may contact Us via our website at
      www.maidinsheffield.co.uk or by email at maidinsheffield@maidinsheffield.co.uk .<br>
      10.2 In certain circumstances you must contact Us in writing (when cancelling an Order, for example, or exercising
      your right to cancel the Services). When contacting Us in writing you may use the following methods:<br>
      10.2.1 Contact Us by email at maidinsheffield@maidinsheffield.co.uk; or<br>
      Contact Us by pre-paid post at, BRD 22 OY SERVICES Ltd, Northampton, NN3 5EJ<br><br>
      11. How We Use Your Personal Information<br>
      Our Privacy Policy can be found <a href="../privacy_policy/">here</a>.<br><br>
      1. Definitions and Interpretation<br>
      In this Agreement the following terms shall have the following meanings: <br>
      “Account” means collectively the personal information, Payment Information and credentials used by Users to access
      Paid Content and / or any communications System on the Website;
      “Content” means any text, graphics, images, audio, video, software, data compilations and any other form of
      information capable of being stored in a computer that appears on or forms part of this Website;<br>
      Maid In Sheffield means BRD 22 OY Services Ltd Trading as Maid In Sheffield, a company registered in England under
      company number 09204902 of 25 Toftwood Road, Sheffield S10 1SJ<br>
      “Service” means collectively any online facilities, tools, services or information that Maid In Sheffield makes
      available through the Website either now or in the future;<br>
      “Services” means the services available to you through this Website, specifically supply of on demand cleaning
      services via third parties;<br>
      “Payment Information” means any details required for the purchase of Services from this Website. This includes,
      but is not limited to, credit / debit card numbers, bank account numbers and sort codes;<br>
      “Purchase Information” means collectively any orders, invoices, receipts or similar that may be in hard copy or
      electronic form;<br>
      “Premises” Means our place(s) of business.<br>
      “System” means any online communications infrastructure that BRD 22 OY SERVICES Limited makes available through
      the Website either now or in the future. This includes, but is not limited to, web-based email, message boards,
      live chat facilities and email links;<br>
      “User” / “Users” means any third party that accesses the Website and is not employed by BRD 22 OY SERVICES Limited
      and acting in the course of their employment;<br>
      “Website” means the website that you are currently using www.maidinsheffield.co.uk and any sub-domains of this
      site (e.g. subdomain. locations) unless expressly excluded by their own terms and conditions.<br>
      "Maid In Sheffield" means the intellectual property and branding which is under licence to BRD 22 OY SERVICES
      Limited.<br><br>
      2. Age Restrictions<br>
      Persons under the age of 18 should use this Website only with the supervision of an Adult. Payment Information
      must be provided by or with the permission of an Adult.<br>
      3. Business Customers These Terms and Conditions do apply to customers procuring Services in the course of
      business<br><br>
      4. Intellectual Property<br>
      4.1 Subject to the exceptions in Clause 5 of these Terms and Conditions, all Content included on the Website,
      unless uploaded by Users, including, but not limited to, text, graphics, logos, icons, images, sound clips, video
      clips, data compilations, page layout, underlying code and software is the property BRD 22 OY SERVICES Limited,
      our affiliates or other relevant third parties. By continuing to use the Website you acknowledge that such
      material is protected by applicable United Kingdom and International intellectual property and other laws.<br>
      4.2 Subject to Clause 6 you may not reproduce, copy, distribute, store or in any other fashion re-use material
      from the Website unless otherwise indicated on the Website or unless given express written permission to do so by
      BRD 22 OY SERVICES Limited.<br><br>
      5. Third Party Intellectual Property<br>
      5.1 Unless otherwise expressly indicated, all Intellectual Property rights including, but not limited to,
      Copyright and Trademarks, in product images and descriptions belong to the manufacturers or distributors of such
      products as may be applicable.<br>
      5.2 Subject to Clause 6 you may not reproduce, copy, distribute, store or in any other fashion re-use such
      material unless otherwise indicated on the Website or unless given express written permission to do so by the
      relevant manufacturer or supplier.<br><br>
      6. Fair Use of Intellectual Property<br>
      Material from the Website may be re-used without written permission where any of the exceptions detailed in
      Chapter III of the Copyright Designs and Patents Act 1988 apply.<br><br>
      7. Links to Other Websites<br>
      This Website may contain links to other sites. Unless expressly stated, these sites are not under the control of
      BRD 22 OY SERVICES Limited or that of our affiliates. We assume no responsibility for the content of such web
      sites and disclaim liability for any and all forms of loss or damage arising out of the use of them. The inclusion
      of a link to another site on this Website does not imply any endorsement of the sites themselves or of those in
      control of them.<br>
      8. Links to this Websitev
      Those wishing to place a link to this Website on other sites may do so only to the home page of the site
      www.maidinsheffield.co.uk without prior permission. Deep linking (i.e. links to specific pages within the site)
      requires the express permission of BRD 22 OY SERVICES Limited To find out more please contact us by email at
      maidinsheffield@maidinsheffield.co.uk<br><br>
      9. Use of Communications Facilities<br>
      9.1 When using the enquiry form or any other System on the Website you should do so in accordance with the
      following rules:<br>
      9.1.1 You must not use obscene or vulgar language;<br>
      9.1.2 You must not submit Content that is unlawful or otherwise objectionable. This includes, but is not limited
      to, Content that is abusive, threatening, harassing, defamatory, ageist, sexist or racist;<br>
      9.1.3 You must not submit Content that is intended to promote or incite violence;<br>
      9.1.4 It is advised that submissions are made using the English language(s) as we may be unable to respond to
      enquiries submitted in any other languages;<br>
      9.1.5 The means by which you identify yourself must not violate these Terms and Conditions or any applicable laws;<br>
      9.1.6 You must not impersonate other people, particularly employees and representatives of BRD 22 OY SERVICES
      Limited or our affiliates; and<br>
      9.1.7 You must not use our System for unauthorised mass-communication such as “spam” or “junk mail”.<br>
      9.2 You acknowledge that BRD 22 OY SERVICES Limited reserves the right to monitor any and all communications made
      to us or using our System.<br>
      9.3 You acknowledge that BRD 22 OY SERVICES Limited may retain copies of any and all communications made to us or
      using our System.<br>
      9.4 You acknowledge that any information you send to us through our System or post on the forums chat or similar
      areas of our website may be modified by us in any way and you hereby waive your moral right to be identified as
      the author of such information. Any restrictions you may wish to place upon our use of such information must be
      communicated to us in advance and we reserve the right to reject such terms and associated information.<br><br>
      10. Accounts<br>
      10.1 In order to procure Services on this Website and to use the forums chat or similar facilities you are
      required to create an Account which will contain certain personal details and Payment Information which may vary
      based upon your use of the Website as we may not require payment information until you wish to make a purchase. By
      continuing to use this Website you represent and warrant that:<br>
      10.1.1 all information you submit is accurate and truthful;<br>
      10.1.2 you have permission to submit Payment Information where permission may be required; and<br>
      10.1.3 you will keep this information accurate and up-to-date. Your creation of an Account is further affirmation
      of your representation and warranty.<br>
      10.2 It is recommended that you do not share your Account details, particularly your username and password. BRD 22
      OY SERVICES Limited accepts no liability for any losses or damages incurred as a result of your Account details
      being shared by you. If you use a shared computer, it is recommended that you do not save your Account details in
      your internet browser.<br>
      10.3 If you have reason to believe that your Account details have been obtained by another without consent, you
      should contact BRD 22 OY SERVICES Limited immediately to suspend your Account and cancel any unauthorised orders
      or payments that may be pending. Please be aware that orders or payments can only be cancelled up until provision
      of Services has commenced. In the event that an unauthorised provision commences prior to your notifying us of the
      unauthorised nature of the order or payment, BRD 22 OY SERVICES Limited accepts no liability or responsibility and
      you should make contact with the third party service provider detailed in the Purchase Information] or BRD 22 OY
      SERVICES Limited will suspend provision of Services and the withdrawal of any scheduled payments pending
      investigation. Following investigation, it shall be determined whether or not to cancel the Services and make a
      full or partial refund of the payment.<br>
      10.4 When choosing your username you are required to adhere to the terms set out above in Clause 9. Any failure to
      do so could result in the suspension and/or deletion of your Account.<br><br>
      11. Termination and Cancellation<br>
      11.1 Either BRD 22 OY SERVICES Limited or you may terminate your Account. If BRD 22 OY SERVICES Limited terminates
      your Account, you will be notified by email and an explanation for the termination will be provided.
      Notwithstanding the foregoing, we reserve the right to terminate without giving reasons.<br>
      11.2 If BRD 22 OY SERVICES Limited terminates your Account, any current or pending orders or payments on your
      Account will be cancelled and provision of Services will not commence.<br>
      11.3 BRD 22 OY SERVICES Limited reserves the right to cancel orders or payments without stating reasons, for any
      reason prior to processing payment or commencing Services provision.<br>
      11.4 You have the right to cancel your order for the Services within a statutory 7 working day cooling-off period.
      This period begins when you receive written confirmation of your order from BRD 22 OY SERVICES Limited. If the
      provision of the Services commences within the cooling-off period, your right to cancel under this provision shall
      end.<br>
      11.5 If orders or payments are cancelled for any reason prior to commencement of Services provision you will be
      refunded any monies paid in relation to those purchases. <br>
      11.6 If you terminate your Account any non-completed orders or payments will be cancelled and you will be refunded
      any monies paid in relation to those orders.<br><br>
      12. Services, Pricing and Availability<br>
      12.1 Whilst every effort has been made to ensure that all descriptions of Services available from BRD 22 OY
      SERVICES Limited correspond to the actual Services, BRD 22 OY SERVICES Limited is not responsible for any
      variations from these descriptions. This does not exclude our liability for mistakes due to negligence on our part
      and refers only to variations of the correct Services, not different Services altogether. Please refer to
      sub-Clause 13.4 for incorrect Services.<br>
      12.2 Where appropriate, you may be required to select the required package of Services.<br>
      12.3 BRD 22 OY SERVICES Limited does not represent or warrant that such Services will be available. Availability
      indications are provided on the Website however, this may not take into consideration transactions that have
      occurred whilst you have been on the site. All pricing information on the Website is correct at the time of going
      online. BRD 22 OY SERVICES Limited reserves the right to change prices and alter or remove any special offers from
      time to time and as necessary.In the event that prices are changed during the period between an order being placed
      for Services and BRD 22 OY SERVICES Limited processing that order and taking payment, provision of Services shall
      commence as per your order and you will be charged the original price.<br>
      12.4 All prices on the Website do not include VAT. BRD 22 OY SERVICES Limited is not currently VAT Registered.<br><br>
      13. Provision of Services<br>
      13.1 Provision of Services shall commence when full payment has been received or as otherwise detailed in the
      Terms & Conditions pertaining directly to those Services.<br>
      13.2 BRD 22 OY SERVICES Limited shall use its best endeavours to provide the Services with reasonable skill and
      care.<br>
      13.3 Provision of all Services shall be subject to the terms and conditions pertaining directly to those Services.<br>
      13.4 In the event that Services are provided that are not in conformity with your order and thus incorrect, you
      should contact us within 10 days to inform us of the mistake BRD 22 OY SERVICES Limited will ensure that any
      necessary corrections to the Services provided are made within 7 working days.<br>
      13.5 BRD 22 OY SERVICES Limited reserves the right to exercise discretion with respect to any alterations to
      Services under the provisions of this Clause 13. Factors which may be taken into account in the exercise of this
      discretion include, but are not limited to:<br>
      13.5.1 Any use or enjoyment that you may have already derived from the Services;<br>
      13.5.2 Any characteristics of the Services which may mean that cessation of provision is impossible without
      significant further work on the part and at the expense of BRD 22 OY SERVICES Limited. Such discretion to be
      exercised only within the confines of the law.<br><br>
      14. Privacy<br>
      14.1 Use of the Website is also governed by our privacy policy which is incorporated into these terms and
      conditions by this reference.<br>
      14.2 We do not store credit card details.<br><br>
      15. Disclaimers<br>
      15.1 BRD 22 OY SERVICES Limited makes no warranty or representation that the Website will meet your requirements,
      that it will be of satisfactory quality, that it will be fit for a particular purpose, that it will not infringe
      the rights of third parties, that it will be compatible with all systems, that it will be secure and that all
      information provided will be accurate. We make no guarantee of any specific results from the use of our Service or
      Services.<br>
      15.2 No part of this Website is intended to constitute advice and the Content of this Website should not be relied
      upon when making any decisions or taking any action of any kind.<br>
      15.3 No part of this Website is intended to constitute a contractual offer capable of acceptance.<br>
      15.4 BRD 22 OY SERVICES Limited uses reasonable endeavours to ensure that the Website is secure and free of
      errors, viruses and other malware, all Users are advised to take responsibility for their own security, that of
      their personal details and their computers.<br><br>
      16. Changes to the Service and these Terms and Conditions<br>
      BRD 22 OY SERVICES Limited reserves the right to change the Website, its Content or these Terms and Conditions at
      any time. You will be bound by any changes to the Terms and Conditions from the first time you use the Website
      following the changes BRD 22 OY SERVICES Limited is required to make any changes to Terms and Conditions by law,
      these changes will apply automatically to any orders currently pending in addition to any orders placed by you in
      the future.<br><br>
      17. Availability of the Website<br>
      17.1 The Service is provided “as is” and on an “as available” basis. We give no warranty that the Service will be
      free of defects and / or faults. To the maximum extent permitted by law we provide no warranties (express or
      implied) of fitness for a particular purpose, accuracy of information, compatibility and satisfactory quality.<br>
      17.2 BRD 22 OY SERVICES Limited accepts no liability for any disruption or non-availability of the Website
      resulting from external causes including, but not limited to, ISP equipment failure, host equipment failure,
      communications network failure, power failure, natural events, acts of war or legal restrictions and
      censorship.<br><br>
      18. Limitation of Liability<br>
      18.1 To the maximum extent permitted by law, BRD 22 OY SERVICES Limited accepts no liability for any direct or
      indirect loss or damage, foreseeable or otherwise, including any indirect, consequential, special or exemplary
      damages arising from the use of the Website or any information contained therein. Users should be aware that they
      use the Website and its Content at their own risk.<br>
      18.2 Nothing in these Terms and Conditions excludes or restricts BRD 22 OY SERVICES Limited’s liability for death
      or personal injury resulting from any negligence or fraud on the part of BRD 22 OY SERVICES Limited.<br>
      18.3 Nothing in these Terms and Conditions excludes or restricts BRD 22 OY SERVICES Limited’s liability for any
      direct or indirect loss or damage arising out of the incorrect provision of Services or out of reliance on
      incorrect information included on the Website.<br>
      18.4 Whilst every effort has been made to ensure that these Terms and Conditions adhere strictly with the relevant
      provisions of the Unfair Contract Terms Act 1977, in the event that any of these terms are found to be unlawful,
      invalid or otherwise unenforceable, that term is to be deemed severed from these Terms and Conditions and shall
      not affect the validity and enforceability of the remaining Terms and Conditions. This term shall apply only
      within jurisdictions where a particular term is illegal.<br><br>
      19. No Waiver<br>
      In the event that any party to these Terms and Conditions fails to exercise any right or remedy contained herein,
      this shall not be construed as a waiver of that right or remedy.<br>
      20. Previous Terms and Conditions<br>
      In the event of any conflict between these Terms and Conditions and any prior versions thereof, the provisions of
      these Terms and Conditions shall prevail unless it is expressly stated otherwise.<br><br>
      21. Third Party Rights<br>
      Nothing in these Terms and Conditions shall confer any rights upon any third party. The agreement created by these
      Terms and Conditions is between you and BRD 22 OY SERVICES Limited.<br><br>
      22. Communications<br>
      22.1 All notices / communications shall be given to us either by post to our Premises (see address above) or by
      email to maidinsheffield@maidinsheffield.co.uk. Such notice will be deemed received 3 days after posting if sent
      by first class post, the day of sending if the email is received in full on a business day and on the next
      business day if the email is sent on a weekend or public holiday.<br>
      22.2 BRD 22 OY SERVICES Limited may from time to time send you information about our products and/or services. If
      you do not wish to receive such information, please email maidinsheffield@maidinsheffield.co.uk.<br>
      23. Law and Jurisdiction<br>
      These Terms and Conditions and the relationship between you and Maid In Sheffield shall be governed by and
      construed in accordance with the Law of England and Wales and BRD 22 OY SERVICES Limited and you agree to submit
      to the exclusive jurisdiction of the Courts of England and Wales.<br></p>


  </div>
  <div class="col-md-8 col-md-offset-2">
    <h3>About This Website</h3>

    <p>You should read these terms and conditions carefully before using
      <a href="http://maidinsheffield.co.uk">http://maidinsheffield.co.uk</a>(referred to herein as ‘the Site’). By
      accessing or using the Site, you agree to be bound by these terms and conditions and our
      <a href="../privacy_policy/">Privacy Policy</a>. No proposed changes to these terms and conditions are valid or
      have any effect. If you do not agree with or accept any of these terms and conditions, you should cease using the
      Site immediately.</p>

    <h3>1. Availability and conditions of use</h3>

    <p>1.1 The Site is made available to you by us. Whilst we make every effort to ensure that the Site is available, we
      do not represent, warrant or guarantee in any way the Site&#8217;s continued availability at all times or
      uninterrupted use by you of the Site. We reserve the right to suspend or cease the operation of the Site from time
      to time at our sole discretion.<br>

      1.2 As a condition of your use of the Site, you agree:<br>

      1.2.1 not to use the Site for any purpose that is unlawful under applicable law, or prohibited by these terms and
      conditions; and<br>

      1.2.2 not to defame, disparage any body or behave in a manner which is obscene, derogatory or offensive; and<br>

      1.2.3 to be responsible for ensuring that your use of the Site is consistent with all applicable laws and
      regulations.<br>

      1.3 We reserve the right to prevent or suspend your access to the Site if you do not comply with any part of these
      terms and conditions or any applicable law.</p>

    <h3>2. Ownership, use and intellectual property rights</h3>

    <p>2.1 The Site and all content within the Site is owned and operated by us and/or our licensors. We and our
      licensors reserve all rights.<br>

      2.2 The Site is for your personal and non-commercial use. You may not modify, copy, distribute, transmit, display,
      revise, perform, reproduce, publish, license, deep-link, create derivative works from, transfer, or sell any
      information or content obtained from the Site unless expressly authorised by us.<br>

      2.3 Any intellectual property rights (including without limitation all patents, copyright, database rights and
      trademarks (whether registered or unregistered)) subsisting in any content or material on the Site belongs to us
      and/or our licensors. All rights are reserved for the benefit of ourselves and/or our licensors. Nothing in these
      terms and conditions grants you any rights in the Site or the content within the Site.<br>

      2.4 The use or misuse of any trademarks or any other content on the Site except as provided in these terms and
      conditions or in the Site content, is strictly prohibited. Nothing contained on the Site shall be construed as
      granting, by implication, estoppel or otherwise, any license or right to use any trademark without our prior
      written permission.</p>

    <h3>3. Software</h3>

    <p>3.1 Any software that is made available for downloading from the Site is our copyrighted work and/or that of our
      licensors.<br>

      3.2 You may only use such software in accordance with the terms of the end user license agreement, if any, which
      accompanies or is included with the software. You are authorised and will not be able to install any software
      unless you agree to be bound by the end user license agreement.<br>

      3.3 The software is made available for downloading solely for your use in a non-commercial manner. Any
      reproduction or redistribution of the software not in accordance with the end user license agreement is expressly
      prohibited, and may result in severe civil and criminal penalties. Violators will be prosecuted to the maximum
      extent possible.<br>

      3.4 The software is warranted, if at all, only according to the terms of the end user licence agreement. Except
      for the warranties which may appear in the end user licence agreement, we hereby disclaim all warranties,
      conditions and other terms (whether express or implied) with regard to the software, including all implied
      warranties and conditions of satisfactory quality and fitness for a particular purpose.</p>

    <h3>4 Submissions</h3>

    <p>4.1 We appreciate hearing from our customers and welcome your comments regarding our products, including our
      online services. Our company policy does not encourage you to submit or send to us any unpatented ideas,
      advertising or marketing suggestions, patent applications, models, prototypes, or any information, written or
      oral, which you regard as confidential (collectively referred to as ‘Unwanted Submissions’). While we value your
      feedback on our services and products, we request that you restrict your comments to our services and products and
      do not submit any Unwanted Submissions.<br>

      4.2 Please note that any submission (including any Unwanted Submission) made to us is deemed to be our property
      and we are entitled to utilise any such submission in any manner we see fit. We shall not be subject to any
      obligation of confidentiality nor be liable for any use and/or disclosure of such submissions.</p>

    <h3>5. Posting of information</h3>

    <p>5.1 Except for any personal information we may collect from you which is governed by our privacy policy, any
      communication or material you post or transmit to us or the Site is, and will be treated as, non-confidential and
      non-proprietary. By transmitting or posting any communication or material, you agree that we and any of our
      affiliates may use your communication for any purpose, including reproduction, transmission, publication,
      broadcast, and posting. Although we reserve the right to monitor or review discussions, chats, postings,
      transmissions, bulletin boards and the like on the Site from time to time, we are under no obligation to do so and
      assume no responsibility or liability arising from any content posted on any of these functionalities nor for any
      error, omission, infringement, defamatory statement, obscenity, or inaccuracy contained in any such information on
      such functionalities. We shall have the right at any time and for any reason to remove any communication or
      material posted on the Site.</p>

    <h3>6. Disclaimers</h3>

    <p>6.1 While we use reasonable efforts to include accurate and up-to-date information on the Site, we do not
      represent, warrant or promise (whether express or implied) that any information is or remains accurate, complete
      and up to date, or fit or suitable for any purpose. Any reliance you place on the information on the Site is at
      your own risk. Nothing in these terms and conditions shall operate to prejudice any mandatory statutory
      requirement or your statutory rights.<br>
      6.2 Content on the Site is provided for your general information purposes only and to inform you about us and our
      products and news, features, services and other websites, which may be of interest. It does not constitute
      technical, financial, legal advice or any other type of advice and should not be relied on for any purposes.</p>

    <h3>7. Hyperlinks and third party sites</h3>

    <p>7.1 The Site may contain hyperlinks or references to external third party websites. Any such hyperlink or
      reference is provided for your convenience only. We have no control over third party websites and accept no
      responsibility for any content, material or information contained in them. The display of any hyperlink and
      reference to any third party website does not constitute an endorsement of such third party&#8217;s website,
      products or services. Your use of a third party site may be governed by the terms and conditions of that third
      party site.</p>

    <h3>8. Warranties and limitation of liability</h3>

    <p>8.1 You agree that your use of the Site is on an ‘as is’ and ‘as available’ basis. Consequently we make no
      representations, warranties, conditions or other terms (whether express or implied) in relation to the provision
      of the Site, including without limitation as to completeness, accuracy and currency or any content and information
      on the Site, or as to satisfactory quality, or fitness for particular purpose.<br>

      8.2 To the maximum extent permitted by applicable law, we exclude all liability (whether arising in contract,
      tort, breach of statutory duty or otherwise) which we may otherwise have to you as a result of:<br>

      8.2.1 any error or inaccuracies in any information or material within or relating to the Site;<br>

      8.2.2 the unavailability of the Site for whatsoever reason; and<br>

      8.2.3 any representation or statement made on the Site.<br>

      8.3 Under no circumstances shall we be liable to you for any loss or damage suffered (including without limitation
      direct or indirect losses) arising from your use of, or reliance on, the Site (including the downloading or any
      software, program or information).<br>

      8.4 We do not exclude or limit our liability for death or personal injury arising from our negligence, for any
      fraudulent misrepresentation made by us on the Site or for any other statutory rights which are not capable of
      being excluded.</p>

    <h3>9. Indemnity</h3>

    <p>9.1 If you are in breach of any of these terms and conditions, you agree to indemnify and hold us harmless in
      respect of any costs, expenses, claims, proceedings, actions, losses, damages or liabilities incurred by us in
      relation to or arising from such a breach.</p>

    <h3>10. General</h3>

    <p>10.1 We reserve the right to vary these terms and conditions from time to time without notifying you. By
      continuing to use and access the Site you agree to be bound by any variation made by us. It is your responsibility
      to check these terms and conditions from time to time to verify such variations.<br>

      10.2 These terms and conditions contains the entire understanding and agreement between us and you in relation to
      your use of the Site and supersedes and replaces any representation, statement or other communication (whether
      written or otherwise) made by you or us which is not contained herein.<br>

      10.3 Should any part of these terms and conditions for any reason be declared invalid or unenforceable by a court
      of a competent jurisdiction, it shall be deemed to be deleted without affecting the remaining provisions.<br>

      10.4 These terms and conditions are governed and construed in accordance with the laws of England and Wales and
      you consent to the exclusive jurisdiction of the courts of England.</p>
  </div>
</div>